* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: url("img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border: 2px solid #f09c9cc7;
  border-radius: 5px;
  backdrop-filter: blur(5000px);
}
.logo {
  font-size: 32px;
  position: relative;
  right: 40px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar i {
  margin-left: 5px;
  scale: 135%;
  color: #fff;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a:hover + .navbar i {
  display: none;
}

.wrapper {
  width: 420px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 20px;
  padding: 30px 40px;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.2s ease;
  overflow: hidden;
}

.wrapper.active {
  height: 520px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: transparent;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.wrapper .icon-close:hover {
  scale: 115%;
  transition: 0.3s;
}

.wrapper .form-box-login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box-login {
  transform: none;
  transform: translateX(-400px);
}

.wrapper .form-box-register {
  transform: translateX(400px);
  position: absolute;
  transition: 0.18sq;
}

.wrapper.active .form-box-register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.wrapper .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link {
}

.login-link {
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.login-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.login-link p a:hover {
  text-decoration: underline;
}
.register-link p a:hover {
  text-decoration: underline;
}
